---
name: MQTT2Prometheus
version: 0.1.8
slug: mqtt2prometheus
description: MQTT to Prometheus gateway
url: https://github.com/christian-vdz/hassio-mqtt2prometheus-addon
webui: http://[HOST]:[PORT:9641]
init: false
arch:
  - aarch64
  - amd64
ports:
  9641/tcp: 9641
ports_description:
  9641/tcp: Web interface
options:
  mqtt_server: "127.0.0.1"
  mqtt_user: "mqtt"
  mqtt_password: ""
  mqtt_base_topic: "zigbee2mqtt"
  env_vars: []
schema:
  mqtt_server: "str?"
  mqtt_user: "str?"
  mqtt_password: "password"
  mqtt_base_topic: "str?"
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  env_vars:
    - name: match(^GF_([A-Z0-9_])+$)
      value: str
